@import '../../styles/globals.module.scss';

.unitsListOption{
    color: $neutral0;
    font-family: $fontFamily100;
    width: 85%;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 14px;

    &.active{
        background-color: $neutral700;
    }

    &:hover{
        background-color: $neutral600;
    }
}