@import '../../styles/globals.module.scss';

.unitsButton{
    background-color: $neutral800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: $fontFamily100;
    width: clamp(115px,5.3vw,144px);
    border-radius: 6px;
    cursor: pointer;
    
    &:hover{
        background-color: $neutral700;
    }
}